body {
    background-color: #e0e0e0;
    color: black;
}

.zaszlok {
    float: right;
    width: 70px;
}

.hatter {
    background-color: white;
    height: 1200px;
    width: 86%;
    margin: 0 auto;
    border: solid #5c6b7b 40px;
}
.p3 {
    float: left;
    display: block;
}
a {
    color: black;
}
a:hover {
    color: white;
}
p, li {
    font-size: large;
    margin: 7px;
}
button {
    margin: 3px 10px;
    
}

.kep-kozep {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.gomb {
    text-decoration: none;
    background-color: lightblue;
    font-size: large;
}
.gomb-div {
    margin: 0 30%;
    background-color: white;
}

.internet-kozep {
	display: block;
    	margin: 0 auto;
}
td {
    background-color: lightblue ;
    height: 40px;
}
table {
    margin: 0 auto;
    width: 100%;
}