body {
    background-color: #e0e0e0;
    color: black;
}

.zaszlok {
    float: right;
    width: 100px;
}

div {
    background-color: #5c6b7b;
    padding: 60%;
    margin: auto auto;
}
#p3 {
    float: left;
    display: block;
}
